<div class="container">

  <h2>{{nameOfGame}}</h2>

  <div class="bs-players">
    <form role="form">
      <div class="form-group" ng-repeat="player in players">
        <input  
            type="text" 
            class="form-control input-lg" 
            ng-model="player.name" 
            placeholder="{{player.placeholder}}"
            autofocus />
      </div>
      <div class="form-group" ng-repeat="button in buttons">
      <input             
            type="{{button.type}}" 
            class="btn btn-primary form-control btn-lg input-lg"
            ng-click="button.click()" 
            value="{{button.label}}" />
      </div>
    </form>
  </div>
</div>